body {
background: url("images/diamond_upholstery.png") repeat;
}

header footer {
	/* Can a footer be a child of a header? */
border-top: 2px #444;
border-bottom: 2px solid #444;
background-color: #FFF
}

header p {
	/*Check out the font in nav. Is it the same? */
font: 24px;
/*Something is wrong with this next line. */
display: inline; 
margin: 15px;
}

nav {
background-color: #444;
margin: 0 15px;
padding: 7px;
font-size: 20px;
color: #FFF;
}

nav a {
color: #FFF;
/*There's something wrong with these. Notice sublime's helpful coloring. That should be your clue. */
text-decoration: none
display: inline-block; /* I had a feeling something was wrong with this line, but I can't quite put my finger on it. */
}

.main > a {
display: block;
}

footer {
font-size: 14px;
padding: 20px 3px;
}

